In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
#from matplotlib.widgets import Dropdown

In [10]:
# Load S&P 500 index data from CSV
sp500_df = pd.read_csv("Resources/SP500_stocks.csv", parse_dates=['Date'])
sp500_df = sp500_df.set_index('Date')
sp500_df.head()

,Symbol,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,,
2017-01-03,MMM,151.730133,178.050003,180.000000,177.220001,178.830002,2509300.0
2017-01-04,MMM,151.960205,178.320007,178.899994,177.610001,178.029999,1542000.0
2017-01-05,MMM,151.440369,177.710007,179.139999,176.889999,178.259995,1447800.0
2017-01-06,MMM,151.883499,178.229996,178.600006,175.800003,177.289993,1625000.0
2017-01-09,MMM,151.065399,177.270004,178.380005,177.199997,178.369995,1622600.0

In [ ]:
# Load individual stock data from CSV
# For example, let's say you want to compare Apple (AAPL) with S&P 500
apple_df = pd.read_csv('AAPL.csv', parse_dates=['Date'])
apple_df = apple_df.set_index('Date')

In [ ]:
# Select the 'Close' price column for both dataframes
sp500_close = sp500_df['Close']
apple_close = apple_df['Close']

In [ ]:
# Plot the S&P 500 and Apple stock prices
plt.figure(figsize=(10, 5))
plt.plot(sp500_close, label='S&P 500')
plt.plot(apple_close, label='Apple (AAPL)')
plt.legend()
plt.title('S&P 500 vs. Apple Stock Prices')
plt.xlabel('Date')
plt.ylabel('Price')
plt.show()

In [ ]:
# Animate the plot
ani = FuncAnimation(fig, update, frames=len(sp500_df), blit=True, repeat=False)

plt.title('S&P 500 vs. Apple Stock Prices')
plt.xlabel('Date')
plt.ylabel('Price')
plt.show()

In [ ]:
# Importing module 
import mysql.connector
 
# Creating connection object
mydb = mysql.connector.connect(
    host = "localhost",
    user = "yourusername",
    password = "your_password"
)
 
# Printing the connection object 
print(mydb)